/* FONT IMPORTS */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

/* BODY */

body {
  background-color: #d6d6d6;
}

/* COVER IMAGE + NAV BAR */

@font-face {
  font-family: Moderne Sans;
  src: url(forest.gif);
}

@font-face {
    font-family: 'alameda_script_personal_useRg';
    src: url('alameda_script/alamedascript_personal_use_only-webfont.woff2') format('woff2'),
         url('alamedascript_personal_use_only-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
  box-sizing: border-box;
}

video { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 0.6;
    filter: brightness(30%);
    
}
div#greytown {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  position: fixed;
  width: 100%;
  text-align: center;
  color: white;
  transition: .4s;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    background-color: #48514a;
}

nav a {
  text-decoration: none;
  color: inherit;
  padding: 1rem;
}
h2 { 
  font-family: 'alameda_script_personal_useRg';
  font-size: 8vmin;
  text-align: center;
  margin: 2rem 3rem 0;
  mix-blend-mode: overlay;
  color: #fff;
  font-weight: 100;
  letter-spacing: 3px;
  font-size: 150px;
}

/* BACK TO TOP BUTTON */

.back-to-top {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
}

.hidden {
  display: none;
  opacity: 0%;
}

.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.back-to-top-icon {
  width: 1rem;
  height: 1rem;
  color: #ffffff;
}

.back-to-top {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  border-radius: 100%;
  background: #48514a;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
  opacity: 100%;
  transition: opacity 0.5s;
}

.back-to-top:hover {
  opacity: 60%;
}

/* PARAGRAPH 1 */

.paragraph-1 {
  text-align: center;
  margin-right: 20%;
  margin-left: 20%;
  color: #48514a;
  font-family: 'Playfair Display', serif;
}

/* IMAGE SECTION 1 */

.flex-container-1 {
  display: flex;
  background-color: transparent;
  justify-content: center;
}

.food-container {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 15px;
  font-size: 30px;
  width:400px;
  height: 500px;
  text-align: center;
}

/* IMAGE */

.img-1 {
  margin-top: 5%;
}

/* BUTTON */

.food-button {
  background-color: #48514a;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 2%;
  font-family: 'Playfair Display', serif;
}


.accomadation-container {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 15px;
  font-size: 30px;
  width:400px;
  height: 500px;
  text-align: center;
}

/* IMAGE */

.img-2 {
  margin-top: 5%;
}

/* BUTTON */

.accomadation-button {
   background-color: #48514a;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 2%;
  font-family: 'Playfair Display', serif;
}

/* PARAGRAPH 2 */

.paragraph-2 {
  text-align: center;
  margin-right: 20%;
  margin-left: 20%;
  color: #48514a;
  font-family: 'Playfair Display', serif;
}

/* IMAGE SECTION 2 */

.flex-container-2 {
  display: flex;
  background-color: transparent;
  justify-content: center;
}

.shops-container {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 15px;
  font-size: 30px;
  width:400px;
  height: 500px;
  text-align: center;
}

/* IMAGE */

.img-3 {
  margin-top: 5%;
}

/* BUTTON */

.shops-button {
   background-color: #48514a;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 2%;
  font-family: 'Playfair Display', serif;
}

.history-container {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 15px;
  font-size: 30px;
  width:400px;
  height: 500px;
  text-align: center;
}

/* IMAGE */

.img-4 {
  margin-top: 5%;
}

/* BUTTON */

.history-button {
  background-color: #48514a;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 2%;
  font-family: 'Playfair Display', serif;
}

/* FOOTER */

.footer-text {
  font-size: 8px;
  text-align: center;
}

/* FOOD PAGE */

/* FOOD TOP IMAGE */

.food-top-img {
overflow: hidden;
object-fit: cover;
object-position: 100% 0;
margin-top: -10px;
margin-bottom: 0px;
margin-right: 200px;
margin-left: -85px;
height: 300px;
}

/* FOOD TITLE */

.food-title-h1 {
  text-align: center;
  color: #48514a;
}

/* MEENEEZ SECTION */

.meeneez-flex-container{
   width: 700px;
  margin: auto;
}
.floatLeft {
  float: left;
  padding-right: 20px;
  
}
.meeneez-photo {
  text-align: center;
}

.meeneez-text {
 height: 194px;
  padding-top: 5px;
}

.meeneez-h3 {
 color: #48514a;
 text-decoration: underline;
}

.meeneez-p {
  color: #a5aaa4;
  font-family: 'Playfair Display', serif;
}

.meeneez-more-info{
  background-color: #a64dc2;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 10px 27px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  font-family: 'Varela Round', sans-serif;
  opacity: 50%;
}

/* MAIN STREET DELI SECTION */

.main-st-deli-flex-container{
   width: 700px;
  margin: auto;
}
.floatLeft {
  float: left;
  padding-right: 20px;
  
}

.main-st-deli-photo {
  text-align: center;
}

.main-st-deli-text {
 height: 194px;
  padding-top: 2px;
}

.main-st-deli-h3 {
 color: #48514a;
 text-decoration: underline;
}

.main-st-deli-p {
  color: #a5aaa4;
  font-family: 'Playfair Display', serif;
}

.main-st-deli-more-info{
  background-color: #bf4c3e;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 10px 27px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  font-family: 'Varela Round', sans-serif;
  opacity: 50%;
}

/* AROMA INDIA SECTION */

.aroma-india-container{
   width: 700px;
  margin: auto;
}
.floatLeft {
  float: left;
  padding-right: 20px;
}

.aroma-india-photo {
  text-align: center;
}

.aroma-india-text {
 height: 194px;
  padding-top: 2px;
}

.aroma-india-h3 {
 color: #48514a;
 text-decoration: underline;
}

.aroma-india-p {
  color: #a5aaa4;
  font-family: 'Playfair Display', serif;
}

.aroma-india-more-info{
  background-color: #9b6a41;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 10px 27px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  font-family: 'Varela Round', sans-serif;
  opacity: 50%;
}

/* THE OFFERING SECTION */

.offering-container{
   width: 700px;
  margin: auto;
}
.floatLeft {
  float: left;
  padding-right: 20px;
  
}

.offering-photo {
  text-align: center;
}

.offering-text {
 height: 194px;
  padding-top: 2px;
}

.offering-h3 {
 color: #48514a;
 text-decoration: underline;
}

.offering-p {
  color: #a5aaa4;
  font-family: 'Playfair Display', serif;
}

.offering-more-info{
  background-color: #b9bab7;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 10px 27px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  font-family: 'Varela Round', sans-serif;
  opacity: 50%;
}

/* THE WHITE SWAN SECTION */

.white-swan-container{
   width: 700px;
  margin: auto;
}
.floatLeft {
  float: left;
  padding-right: 20px;
  
}

.white-swan-photo {
  text-align: center;
}

.white-swan-text {
 height: 194px;
  padding-top: 5px;
}

.white-swan-h3 {
 color: #48514a;
 text-decoration: underline;
}

.white-swan-p {
  color: #a5aaa4;
  font-family: 'Playfair Display', serif;
}

.white-swan-more-info{
  background-color: #bc8721;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 10px 27px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  font-family: 'Varela Round', sans-serif;
  opacity: 50%;
}

/* 1860 SECTION */

.r1860-container{
   width: 700px;
  margin: auto;
}
.floatLeft {
  float: left;
  padding-right: 20px;
  
}

.r1860-photo {
  text-align: center;
}

.r1860-text {
 height: 194px;
  padding-top: 2px;
}

.r1860-h3 {
 color: #48514a;
 text-decoration: underline;
}

.r1860-p {
  color: #a5aaa4;
  font-family: 'Playfair Display', serif;
}

.r1860-more-info{
  background-color: #808992;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 10px 27px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  font-family: 'Varela Round', sans-serif;
  opacity: 50%;
}

/* CAHOOTS SECTION */

.cahoots-container{
   width: 700px;
  margin: auto;
}
.floatLeft {
  float: left;
  padding-right: 20px;
  
}

.cahoots-photo {
  text-align: center;
}

.cahoots-text {
 height: 194px;
  padding-top: 5px;
}

.cahoots-h3 {
 color: #48514a;
 text-decoration: underline;
}

.cahoots-p {
  color: #a5aaa4;
  font-family: 'Playfair Display', serif;
}

.cahoots-more-info{
  background-color: #d03e2c;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 10px 27px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  font-family: 'Varela Round', sans-serif;
  opacity: 50%;
}

/* THE GREYTOWN FISH SUPPLY SECTION */

.greytown-fish-supply-container{
   width: 700px;
  margin: auto;
}
.floatLeft {
  float: left;
  padding-right: 20px;
  
}

.greytown-fish-supply-photo {
  text-align: center;
}

.greytown-fish-supply-text {
 height: 194px;
  padding-top: 20px;
}

.greytown-fish-supply-h3 {
 color: #48514a;
 text-decoration: underline;
}

.greytown-fish-supply-p {
  color: #a5aaa4;
  font-family: 'Playfair Display', serif;
}

.greytown-fish-supply-more-info{
  background-color: #aa3842;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 10px 27px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  font-family: 'Varela Round', sans-serif;
  opacity: 50%;
}

/* PINOCCHIO SECTION */

.pinocchio-container{
   width: 700px;
  margin: auto;
}
.floatLeft {
  float: left;
  padding-right: 20px;
  
}

.pinocchio-photo {
  text-align: center;
}

.pinocchio-text {
 height: 194px;
  padding-top: 20px;
}

.pinocchio-h3 {
 color: #48514a;
 text-decoration: underline;
}

.pinocchio-p {
  color: #a5aaa4;
  font-family: 'Playfair Display', serif;
}

.pinocchio-more-info{
  background-color: #3f4a37;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 10px 27px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  font-family: 'Varela Round', sans-serif;
  opacity: 50%;
}

/* GREYTOWN KEBAB SECTION */

.greytown-kebab-container{
   width: 700px;
  margin: auto;
}
.floatLeft {
  float: left;
  padding-right: 20px;
  
}

.greytown-kebab-photo {
  text-align: center;
}

.greytown-kebab-text {
 height: 194px;
  padding-top: 20px;
}

.greytown-kebab-h3 {
 color: #48514a;
 text-decoration: underline;
}

.greytown-kebab-p {
  color: #a5aaa4;
  font-family: 'Playfair Display', serif;
}

.greytown-kebab-more-info{
  background-color: #56412b;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 10px 27px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  font-family: 'Varela Round', sans-serif;
  opacity: 50%;
}

/* CUCKOO PIZZA SECTION */

.cuckoo-container{
   width: 700px;
  margin: auto;
}
.floatLeft {
  float: left;
  padding-right: 20px;
  
}

.cuckoo-photo {
  text-align: center;
}

.cuckoo-text {
 height: 194px;
  padding-top: 5px;
}

.cuckoo-h3 {
 color: #48514a;
 text-decoration: underline;
}

.cuckoo-p {
  color: #a5aaa4;
  font-family: 'Playfair Display', serif;
}

.cuckoo-more-info{
  background-color: #dd3f42;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 10px 27px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  font-family: 'Varela Round', sans-serif;
  opacity: 50%;
}

/* CORNER CAFE SECTION */

.corner-cafe-container{
   width: 700px;
  margin: auto;
}
.floatLeft {
  float: left;
  padding-right: 20px;
  
}

.corner-cafe-photo {
  text-align: center;
}

.corner-cafe-text {
 height: 194px;
  padding-top: 5px;
}

.corner-cafe-h3 {
 color: #48514a;
 text-decoration: underline;
}

.corner-cafe-p {
  color: #a5aaa4;
  font-family: 'Playfair Display', serif;
}

.corner-cafe-more-info{
  background-color: #312f2d;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 10px 27px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  font-family: 'Varela Round', sans-serif;
  opacity: 50%;
}

/* THE FRENCH BAKER SECTION */

.the-french-baker-container{
   width: 700px;
  margin: auto;
}
.floatLeft {
  float: left;
  padding-right: 20px;
  
}

.the-french-baker-photo {
  text-align: center;
}

.the-french-baker-text {
 height: 194px;
  padding-top: 20px;
}

.the-french-baker-h3 {
 color: #48514a;
 text-decoration: underline;
}

.the-french-baker-p {
  color: #a5aaa4;
  font-family: 'Playfair Display', serif;
}

.the-french-baker-more-info{
  background-color: #6e7659;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 10px 27px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  font-family: 'Varela Round', sans-serif;
  opacity: 50%;
}